/* MEDIA QUERY MANAGER

0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
1200 - 1800px: normal style
1800px+: big desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint==tab-port {
        // @media only screen and (max-width: 56.25em) {
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }
    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}
