html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: arial, sans-serif;
    color: $color-grey-dark-1;
    box-sizing: border-box;
    @include respond(phone) {
        font-size: 1.3rem;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

img {
    /* https://qiita.com/kimura511/items/2fe01fe295e308ce34aa */
    vertical-align: top;
}
