.header-container {
    display: flex;
    flex-direction: column;
    background-color: $color-grey-light-4;
    border-bottom: 1px solid $color-grey-light-5;
    &__content {
        display: flex;
        align-items: center;
        @include respond(tab-port) {
            flex-direction: column;
        }
    }
    &__tab {
        margin-left: 15rem;
        @include respond(tab-port) {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
    }
}

.header-logo {
    &__link {
        text-decoration: none;
        &>img {
            width: 15rem;
            padding: 0.5rem 2rem;
            @include respond(tab-port) {
                width: 13rem;
                margin: 1rem 0 .5rem;
            }
        }
    }
}

.header-search {
    display: flex;
    max-width: 63rem;
    width: 70%;
    height: 4rem;
    margin: 1.5rem 5rem 1.5rem 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    @include respond(tab-port) {
        width: 85%;
        margin: 0;
        margin-bottom: 1.2rem;
    }
    &__hidden {
        display: none;
    }
    &__text {
        flex: 1;
        height: inherit;
        padding-right: 1rem;
        padding-left: 2rem;
        border-radius: 1px;
        border: none;
        background-color: transparent;
        outline: none;
        &::placeholder {
            color: $color-grey-dark-3;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        height: inherit;
        padding: 0 1rem;
        border: none;
        background-color: transparent;
    }
}

.header-tab {
    display: flex;
    list-style: none;
    &__link {
        display: block;
        padding: 1rem 1.8rem 1.2rem;
        border-bottom: 3px solid $color-blue;
        color: $color-blue;
        text-decoration: none;
        cursor: default;
        &--active:link,
        &--active:visited {
            border-bottom: 3px solid transparent;
            color: black;
            cursor: pointer;
        }
        &--active:hover,
        &--active:active {
            color: $color-blue;
        }
        @include respond(phone) {
            padding-left: 1.4rem;
            padding-right: 1.4rem;
        }
    }
}
