.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    &__logo-box {
        width: 30rem;
        margin-bottom: 5rem;
        text-align: center;
        @include respond(phone) {
            width: 18rem;
            margin-bottom: 2rem;
            margin-top: -4.5rem;
        }
    }
    &__logo {
        width: 100%;
        height: auto;
    }
    &__search {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__search-bar {
        position: relative;
        max-width: 63rem;
        width: 70%;
        height: 4rem;
        margin-bottom: 2rem;
        padding: 0 2rem;
        border: none;
        border-radius: 3px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        outline: none;
        /* for iOS formのデフォルトを切らないと動かない */
        appearance: none;
        &::placeholder {
            color: $color-grey-dark-3;
        }
        @include respond(phone) {
            width: 85%;
            margin-bottom: 1.5rem;
        }
    }
    &__search-btn {
        padding: 1.2rem 5rem;
        border: none;
        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        background-color: $color-grey-light-3;
        color: $color-grey-dark-2;
        font-size: 1.3rem;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        /* for iOS formのデフォルトを切らないと動かない */
        appearance: none;
        @include respond(phone) {
            padding: 1.2rem 3.5rem;
        }
    }
    &__search-btn:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
        background-color: $color-grey-light-2;
        color: $color-grey-dark-1;
        transform: translateY(-1px);
        transition: all 0.1s;
    }
    &__search-btn:active {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
        transform: translateY(1px);
        transition: all 0.1s;
    }
}

.found-container {
    margin-bottom: 5rem;
    margin-left: 15rem;
    max-width: 100rem;
    width: 70%;
    &--image {
        max-width: none;
        width: auto;
        margin-right: 15rem;
    }
    @include respond(tab-port) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    &__count {
        margin: 1.5rem 0 2rem;
        color: $color-grey-dark-3;
        font-size: 1.3rem;
    }
}

.found-site {
    width: 100%;
    &__link {
        font-size: 1.8rem;
        font-weight: normal;
        color: $color-blue-dark;
        text-decoration: none;
        @include respond(phone) {
            font-size: 1.5rem;
        }
    }
    &__url {
        font-size: 1.4rem;
        color: $color-green;
        line-height: 120%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__description {
        margin-bottom: 2rem;
        font-size: 1.2rem;
        line-height: 120%;
    }
}

.found-images {
    display: flex;
    flex-wrap: wrap;
    @include respond(phone) {
        flex-direction: column;
    }
}

.found-image {
    margin-bottom: 0.5rem;
    @include respond(phone) {
        width: 100%;
        margin-bottom: 3rem;
    }
    &__img-link {
        display: block;
        position: relative;
        height: 15rem;
        margin: 0 .5rem;
        overflow: hidden;
        @include respond(phone) {
            margin: 0;
            height: auto;
            width: 100%;
        }
        &>img {
            visibility: hidden;
            height: 15rem;
            @include respond(phone) {
                height: auto;
                width: 100%;
            }
        }
    }
    &__size {
        visibility: hidden;
        display: block;
        position: absolute;
        top: 13rem;
        left: 0;
        width: 100%;
        padding: 0.2rem;
        background-color: rgba(black, 0.5);
        font-size: 1.1rem;
        color: white;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__link:hover &__size {
        visibility: visible;
    }
    &__text-link {
        display: block;
        position: relative;
        height: 3rem;
    }
    /* absoluteにすることで親要素の高さに影響がなくなりつぶれる */
    /* -> 兄弟要素である画像の高さに親要素があう */
    /* -> width: 100%でこの要素の高さが親要素に等しくなる */
    &__description {
        display: block;
        position: absolute;
        bottom: 1.4rem;
        width: 100%;
        font-size: 1.1rem;
        font-weight: 700;
        color: $color-grey-dark-2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__host {
        display: block;
        position: absolute;
        bottom: .2rem;
        width: 100%;
        font-size: 1rem;
        color: $color-grey-dark-3;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.pagination-container {
    display: flex;
    align-items: start;
    justify-content: center;
    max-width: 80rem;
    margin-left: 15rem;
    margin-bottom: 3rem;
    @include respond(tab-port) {
        margin-left: 0;
    }
    &__img {
        height: 5rem;
        @include respond(tab-port) {
            height: 4rem;
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        text-decoration: none;
        cursor: default;
        &--active:link,
        &--active:visited {
            color: $color-blue;
            cursor: pointer;
        }
        &--active:hover,
        &--active:active {
            text-decoration: underline;
        }
        &>span {
            margin-top: -1rem;
        }
    }
}
