$color-grey-dark-1: #222;
$color-grey-dark-2: #545454;
$color-grey-dark-3: #757575;
$color-grey-light-1: #d0d0d0;
$color-grey-light-2: #e0e0e0;
$color-grey-light-3: #f2f2f2;
$color-grey-light-4: #fafafa;
$color-grey-light-5: #ebebeb;
$color-blue: #4285F4;
$color-blue-dark: #1a0dab;
$color-green: #006621;
