{{set . "pageTitle" "Home"}}
{{append . "moreStyles" "css/style.css"}}
{{template "header.html" .}}

<div class="home">
    <div class="home__logo-box">
        <img
            class="home__logo"
            src="/public/img/gxxgle-min.png"
            alt="gxxgle logo"
        />
    </div>

    <form class="home__search" action="/search" method="GET">
        <input
            class="home__search-bar"
            type="text"
            name="term"
            placeholder="検索したい言葉を入力してください"
            required
        />
        <input class="home__search-btn" type="submit" value="Search" />
    </form>
</div>
{{template "footer.html" .}}
