{{append . "cdnStyles" "//cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css"}}
{{append . "moreStyles" "css/style.css"}} {{template "header.html" .}}
<div class="found-wrapper">
    <header>
        <div class="header-container">
            <div class="header-container__content">
                <div class="header-logo">
                    <a class="header-logo__link" href="/">
                        <img
                            src="/public/img/gxxgle-min.png"
                            alt="gxxgle logo"
                        />
                    </a>
                </div>
                <form action="/search" method="GET" class="header-search">
                    <input
                        class="header-search__text"
                        type="text"
                        name="term"
                        value="{{.term}}"
                        placeholder="検索したい言葉を入力してください"
                        required
                    />
                    <input
                        class="header-search__hidden"
                        type="text"
                        name="mode"
                        value="{{.mode}}"
                    />
                    <button class="header-search__btn">
                        <img
                            src="/public/img/icons8-search-24.png"
                            alt="Search button"
                        />
                    </button>
                </form>
            </div>
            <div class="header-container__tab">
                <ul class="header-tab">
                    <li class="header-tab__item">
                        {{if eq .mode "sites"}}
                        <span class="header-tab__link">Sites</span>
                        {{else if eq .mode "images"}}
                        <a
                            class="header-tab__link header-tab__link--active"
                            href="/search?term={{.term}}&mode=sites"
                            >Sites</a
                        >
                        {{ end }}
                    </li>
                    <li class="header-tab__item">
                        {{if eq .mode "sites"}}
                        <a
                            class="header-tab__link header-tab__link--active"
                            href="/search?term={{.term}}&mode=images"
                            >Images</a
                        >
                        {{else if eq .mode "images"}}
                        <span class="header-tab__link">Images</span> {{ end }}
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        {{if eq $.mode "sites"}}
        <div class="found-container">
            <p class="found-container__count">{{$.count}} results found</p>
            {{if eq $.count 0}}
            <div>
                検索結果がありません。
            </div>
            {{end}}
            <div class="found-container__results">
                <div class="found-sites">
                    {{range $i, $v := .results}}
                    <div class="found-site">
                        <h3 class="found-site__title">
                            <a
                                class="found-site__link js__click-count"
                                href="{{$v.Url}}"
                                data-mode="{{$.mode}}"
                            >
                                {{ $v.Title }}
                            </a>
                        </h3>
                        <p class="found-site__url">{{ $v.Url }}</p>
                        <p class="found-site__description">
                            {{ $v.Description }}
                        </p>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{else if eq $.mode "images"}}
        <div class="found-container found-container--image">
            <p class="found-container__count">{{$.count}} results found</p>
            {{if eq $.count 0}}
            <div>
                検索結果がありません。
            </div>
            {{end}}
            <div class="found-container__results">
                <div class="found-images grid">
                    {{range $i, $v := .results}}
                    <div class="found-image grid-item grid-item--{{$i}}">
                        <a
                            class="found-image__img-link"
                            href="{{$v.Url}}"
                            data-mode="{{$.mode}}"
                            data-parent="grid-item--{{$i}}"
                            data-url="{{$v.Url}}"
                            data-alt="{{$v.Alt}}"
                            data-fancybox
                            data-caption="{{$v.Url}}"
                            data-site="{{$v.Site}}"
                        >
                            <span class="found-image__size"></span>
                        </a>
                        <a class="found-image__text-link" href="{{$v.Url}}">
                            <div class="found-image__description">
                                {{if $v.Title}} {{ $v.Title }} {{else}}
                                {{ $v.Alt }} {{ end }}
                            </div>
                            <div class="found-image__host">{{ $v.Site }}</div>
                        </a>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </main>
    <footer>
        <div class="pagination-container">
            <div>
                <img
                    class="pagination-container__img"
                    src="/public/img/pagination-start.png"
                    alt="Pagination character G"
                />
            </div>
            {{range $i, $v := .pageIdx}}
            <div class="pagination-container__number-box">
                {{if eq $v $.page}}
                <span class="pagination-container__link">
                    <img
                        class="pagination-container__img"
                        src="/public/img/pagination-selected.png"
                        alt="Pagination character x"
                    />
                    <span>{{ $v }}</span>
                </span>
                {{else}}
                <a
                    class="pagination-container__link pagination-container__link--active"
                    href="/search?term={{$.term}}&page={{$v}}&mode={{$.mode}}"
                >
                    <img
                        class="pagination-container__img"
                        src="/public/img/pagination.png"
                        alt="Pagination character x"
                    />
                    <span>{{ $v }}</span>
                </a>
                {{ end }}
            </div>
            {{ end }}
            <div>
                <img
                    class="pagination-container__img"
                    src="/public/img/pagination-end.png"
                    alt="Pagination characters gle"
                />
            </div>
        </div>
    </footer>
</div>
{{if eq .mode "images"}}
{{append . "cdnScripts" "https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.js"}}
{{append . "cdnScripts" "https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"}}
{{ end }} {{append . "moreScripts" "js/script.js"}} {{template "footer.html" .}}
