    <script src="/public/js/jquery-2.2.4.min.js"></script>
    {{/* do not use */}}
    {{/* <script src="/public/js/bootstrap-3.3.6.min.js"></script> */}}
    {{range .cdnScripts}}
      <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    {{if .DevMode}}
    {{template "debug.html" .}}
    {{end}}
  </body>
</html>
