<!DOCTYPE html>

<html>
  <head>
    <title>{{.pageTitle}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="search engine">
    <meta name="keywords" content="search, image">
    <meta name="author" content="kg_joi">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/icon/favicon-16x16.png">
    <link rel="manifest" href="/public/icon/site.webmanifest">
    <link rel="mask-icon" href="/public/icon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/public/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/public/icon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {{range .cdnStyles}}
      <link rel="stylesheet" type="text/css" href="{{.}}">
    {{end}}
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
  </head>
  <body>
